.form {
  min-width: 320px;
  max-width: 1200px;
}

@media (min-width: @mobile-width) {

  .form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 1667px;
    margin: 0;
    padding: 24px 20px 47px 20px;
  }

  .form__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
  }

  .form__section label {
    position: relative;
  }

  .form__section textarea {
    font-family: "PTSans-Bold";
    font-size: 18px;
    line-height: 26px;
    background-color: @grey;
    padding-left: 21px;
    padding-top: 22px;
    width: 257px;
    height: 138px;
    border: none;
    outline: none;
    margin-bottom: 21px;
  }

  .form__firstname {
    margin-top: 22px;
    width: 191px;
  }

  .form__name input[type="text"] {
    width: 153px;
  }

  .form__contact {
    margin-top: 14px;
    width: 172px;
  }

  .form__icon {
    position: absolute;
    left: 208px;
    top: 36.5px;
    display: block;
    width: 18px;
    height: 15px;
    padding: 20px;
    background-color: @grey2;
  }

  .form__section input[type="text"] {
    font-family: "PTSans-Bold";
    font-size: 18px;
    height: 14px;
    border: none;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 19px;
    margin-left: 14px;
    margin-bottom: 20px;
    background-color: @grey;
  }

  .form__section input[type="radio"] {
    width: 46px;
    height: 46px;
    background-color: @grey;
    border: none;
  }

  .form__radiolabel {
    position: absolute;
    top: 33px;
    left: 73px;
    display: inline-block;
    vertical-align: baseline;
    font-family: "PTSans-Bold";
    font-size: 18px;
    text-transform: none;
    color: @deepblack;
    width: 185px;
    height: 20px;
  }

  .form__radiowrapper {
    display: none;
  }

  .form__section input[type="checkbox"] {
    width: 46px;
    height: 46px;
    background-color: @grey;
    border: none;
    outline: none;
    border-radius: 3px;
  }

  .form__section input[type="submit"] {
    font-family: "PTSans-Bold";
    font-size: 21px;
    text-transform: uppercase;
    color: @white;
    display: block;
    background-color: @blue;
    width: 280px;
    height: 58px;
    border: none;
    margin-bottom: 47px;
  }

  .form__section:last-child {
    display: none;
  }

}

@media (min-width: @tablet-width) {

  .formpage {
    width: 768px;
    margin: 0 auto;
    background-color: @white;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 648px;
    height: 1667px;
    margin: 0 auto;
  }

  .form__section {
    width: 648px;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .form__section:first-child {
    width: 294px;
    height: 356px;
    padding-left: 30px;
    order: -1;

    .promo__header {
      text-align: left;
    }

  }

  .form__firstname {
    width: 218.5px;
  }

  .form__name input[type="text"] {
    width: 181px;
  }


  .form__section:nth-child(2) {
    width: 648px;
    height: 300px;
  }

  .form__section:nth-child(2) input[type="text"] {
    margin-left: 0;
  }

  .form__contact {
    width: 590px;
  }

  .form__icon {
    left: 590px;
    top: 36.7px;
  }

  .form__section:nth-child(3) {
    width: 324px;
    height: 356px;
    order: -2;

    .promo__header {
    text-align: left;
    }
  }

  .form__section:nth-child(4) {
    width: 648px;
    height: 290px;

    .promo__header {
      display: inline-block;
      vertical-align: baseline;
      width: 278px;
      height: 44px;
      margin: 0 auto;
    }
  }

  .form__radiolabel {
    position: relative;
  }

  .form__radiowrapper {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    align-content: center;
    flex-grow: 2;
    width: 443px;
    height: 134px;
    margin: 0 auto;
  }

  .form__section:nth-child(5) {
    display: none;
    width: 320px;
  }

  .form__section:nth-child(6) {
    display: none;
    width: 320px;
  }


  .form__section:last-child {

    width: 165px;
    display: none;
  }

  .form__section textarea {
    width: 626px;
    height: 138px;
  }

}
