.form {
  min-width: 320px;
  max-width: 1200px;
  position: relative;
}

.form__section input[type="text"] {
  outline: none;

  &:hover {
    background-color: @grey-disabled;
  }

  &:active {
    background-color: @white;
    box-shadow: inset 0 0 0 4px @grey-disabled;
    border-radius: 2px;
  }
}

@media (min-width: @mobile-width) {

  .form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 1667px;
    margin: 0;
    padding: 24px 20px 47px 20px;
    position: relative;
  }

  .form__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 280px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
  }

  .form__section input[type="text"] {
    font-family: "PTSans-Bold";
    font-size: 18px;
    height: 14px;
    border: none;
    padding-left: 22px;
    padding-top: 22px;
    padding-bottom: 19px;
    margin-left: 14px;
    margin-bottom: 20px;
    background-color: @grey;
  }

  .form__section--introduce {

    label {
      margin-left: 13.5px;
    }

    .form__firstname {
      margin-top: 22px;
      width: 191px;
    }

    .form__name {
      width: 153px;
    }
  }

  .form__section--contactInfo {

    .promo__header {
      margin-bottom: 29px;
    }

    label {
      position: relative;
    }

    .form__contact {
      margin-top: 14px;
      width: 172px;
    }

    .form__icon {
      position: absolute;
      left: 208px;
      top: 36.5px;
      display: block;
      width: 18px;
      height: 15px;
      padding: 20px;
      background-color: @grey2;
    }
  }

  .form__section--impressions {
    height: 288px;
    width: 280px;

    input[type="radio"] {
      display: none;
      width: 46px;
      height: 46px;
      background-color: @grey;
      border: none;
      margin: 0;
      margin-left: 20px;
      margin-right: 20px;
    }

    .form__radiolabel {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-family: "PTSans-Bold";
      font-size: 18px;
      text-transform: none;
      color: @deepblack;
      width: 207px;
      height: 46px;
      padding-left: 73px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        background-color: @grey;
        margin-left: 5px;
      }

       &::after {
        content: "";
        position: absolute;
        top: 13px;
        left: 13px;
        z-index: 2;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: @black;
        margin-left: 5px;
      }
    }
  }

  .form__section--sight {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 408px;
    width: 280px;

    .promo__header {
      margin-top: 0;
    }

    label {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 46px;
      width: 120px;
      font-family: "PTSans-Bold";
      font-size: 18px;
      text-transform: none;
      color: @deepblack;
      padding-left: 75px;
      margin-left: 24px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 46px;
        height: 46px;
        background-color: @grey;
        border-radius: 2px;
        box-shadow: 0 0 0 5px @grey;
      }

      &::after {
        content: "";
        position: absolute;
        top: 13px;
        left: 13px;
        z-index: 2;
        width: 24px;
        height: 17px;
        background-image: url("../img/icon-tick.svg");
        background-position: center;
        background-size: cover;
      }
    }

    input[type="checkbox"] {
      display: none;
      width: 46px;
      height: 46px;
      background-color: @grey;
      border: none;
      outline: none;
      border-radius: 3px;
      margin: 0;
      margin-right: 25px;
    }
  }

  .form__section--emotions textarea {
    font-family: "PTSans-Bold";
    font-size: 18px;
    line-height: 26px;
    background-color: @grey;
    padding-left: 21px;
    padding-top: 22px;
    width: 257px;
    height: 138px;
    border: none;
    outline: none;
    margin-top: 24px;
    margin-bottom: 21px;
  }

  .form__section--submit {

    input[type="submit"] {
      font-family: "PTSans-Bold";
      font-size: 21px;
      text-transform: uppercase;
      color: @white;
      display: block;
      background-color: @blue;
      width: 280px;
      height: 58px;
      border: none;
      margin-bottom: 47px;

      .bluebuttons();
    }

    .form__text {
      display: none;
    }
  }
}

@media (min-width: @tablet-width) {

  .formpage {
    width: 768px;
    margin: 0 auto;
    background-color: @white;
  }

  .form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }

  .form__section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 648px;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0 auto;
  }

  .form__section--introduce {
    width: 266px;
    height: 294px;
    order: -1;
    padding-left: 58px;

    input[type="text"] {
      margin-left: 15px;
      margin-top: 0;
      margin-bottom: 0;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 58px;
      width: 266px;
      margin-left: 0;
    }
  }

  .form__section--contactInfo {
    height: 300px;

    input[type="text"] {
      margin-left: 0;
    }

    .form__contact {
      width: 590px;
    }

    .form__icon {
      left: 590px;
      top: 36.5px;
    }
  }

  .form__section--impressions {
    width: 324px;
    height: 294px;
    order: -2;

    .promo__header {
    text-align: left;
    }
  }

  .form__section--sight {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    aligh-content: center;
    width: 648px;
    height: 208px;
    padding-left: 100px;
    padding-right: 100px;

    .promo__header {
      display: inline-block;
      vertical-align: baseline;
      width: 278px;
      height: 54px;
      align-self: flex-start;
      padding-left: 85px;
      padding-right: 85px;
    }

    label {
      width: 123px;
      height: 46px;
      font-family: "PTSans-Bold";
      font-size: 18px;
      text-transform: none;
      color: @deepblack;
      margin-left: 0;
    }
  }

  .form__section--emotions {
    padding-bottom: 0;

    textarea {
      width: 626px;
      height: 138px;
      margin-bottom: 0;
      margin-top: 0;
    }

    .promo__header {
      margin-bottom: 60px;
    }

  }

  .form__section--submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 0;

    .form__text {
      display: inline-block;
      vertical-align: baseline;
      width: 180px;
      height: 20px;
    }
  }
}

@media (min-width: @desktop-width) {

  .formpage {
    width: 1200px;
    margin: 0 auto;
    background-color: @white;
  }

  .form {
    width: 960px;
  }

  .form__section {
    width: 960px;
    padding: 0;
  }

  .form__section--introduce,
  .form__section--impressions {
    width: 400px;
    height: 356px;
  }

  .form__section--introduce {
    padding-left: 79px;

    label {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      width: 400px;
    }

    .form__name {
      width: 312px;
      margin-bottom: 0;
      margin-top: 0;
      margin-left: 14px;
    }

   .form__firstname {
      width: 350px;
    }
  }

  .form__section--contactInfo input[type="text"] {
    margin-left: 16px;
    width: 480px;
  }

  .form__section--contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 960px;
    height: 225px;
    padding: 0;
    padding-top: 73px;

    .form__icon {
      left: 405px;
      top: 0;
    }

    input[type="text"] {
      width: 258px;
      margin: 0;
      margin-left: 16px;
    }

    label {
      position: relative;
      width: 470px;
      height: 57px;
      padding: 0;
    }

    label:last-child {
      margin-left: 10px;
    }

    .promo__header {
      display: inline-block;
      vertical-align: baseline;
      width: 960px;
      height: 26px;
    }
  }

  .form__section--impressions {
    padding-right: 70px;
    padding-left: 10px;

    .promo__header {
      padding-left: 70px;
    }
  }

  .form__section--sight {
    height: 180px;
    padding-bottom: 80px;

    .promo__header {
      padding-left: 341px;
      padding-right: 341px;
    }
  }

  .form__section--emotions {

    textarea {
      width: 938px;
      height: 138px;
      margin-bottom: 0;
    }
  }

  .form__section--submit {
    padding-top: 58px;

    input[type="submit"] {
      width: 480px;
      height: 58px;
      margin-top: 0;
      margin-bottom: 66px;
    }

    .form__text {
      display: inline-block;
      vertical-align: baseline;
    }
  }
}
