.logoarea {
  display: block;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}


@media (min-width: @mobile-width) {

  .logoarea {
    height: 158px;
    min-width: 320px;
    width: 100%;
    background-image: url("/img/bg-intro-triangle-mobile.svg"), url("/img/bg-back-mobile@1x.jpg");
    background-position: bottom, center;

    @media (min-resolution: @retina-dppx) {
    background-image: url("/img/bg-intro-triangle-mobile.svg"), url("/img/bg-back-mobile@2x.jpg");
    background-position: 50% 101%, center;
    }
  }

  .logoarea--big {
    height: 389px;
  }

  .text-sedona-index {
    display: block;
    width: 281px;
    height: 214px;
    margin: 0 auto;
    padding-top: 90px;
  }

  .text-sedona {
    display: block;
    width: 229px;
    height: 39px;
    margin: 0 auto;
    padding-top: 52px;
  }
}

@media (min-width: @tablet-width) {

  .logoarea {
    height: 290px;
    min-width: 768px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/bg-back-tablet@1x.jpg");
    background-position: bottom, center;

    @media (min-resolution: @retina-dppx) {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/bg-intro-triangle-tablet.svg"), url("/img/bg-back-tablet@2x.jpg");
    background-position: bottom, center;
    }
  }

  .logoarea--big {
    height: 518px;
  }

  .text-sedona-index {
    display: block;
    width: 460px;
    height: 350px;
    margin: 0 auto;
    padding-top: 77px;
  }

  .text-sedona {
    display: block;
    width: 460px;
    height: 80px;
    margin: 0 auto;
    padding-top: 94px;
  }

}

@media (min-width: @desktop-width) {

  .logoarea {
    height: 268px;
    max-width: 1200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/bg-intro-triangle-desktop.svg"), url("/img/bg-back-desktop@1x.jpg");
    background-position: bottom, center;

    @media (min-resolution: @retina-dppx) {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/img/bg-intro-triangle-desktop.svg"), url("/img/bg-back-desktop@2x.jpg");
    background-position: bottom, center;
    }
  }

  .logoarea--big {
    height: 518px;
  }

  .text-sedona-index {
    display: block;
    width: 460px;
    height: 350px;
    margin: 0 auto;
    padding-top: 77px;
  }

  .text-sedona {
    display: block;
    width: 460px;
    height: 79px;
    margin: 0 auto;
    padding-top: 102px;
  }

}
