html, body{
  margin: 0;
  padding: 0;
  font-family: "PTSans";
  font-size: 14px;
  line-height: 1.44;
  color: @black;
  text-transform: uppercase;
  background-color: @white;
  min-width: 320px;
  width: 100%;
}

.mainbody > * > * > * > * > *{
  background-color: rgba(0, 4, 245, 0.3);
}

.mainbody  > * > * > * > * > * {
  background-color: rgba(255, 4, 0, 0.3);
}

@media (min-width: @tablet-width) {


}

@media (min-width: @desktop-width) {

  html, body {
    background-color: @grey;
  }

}
