.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 207px;
  background: @white;
  position: absolute;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal__button {
  .bluebuttons();
}

@media (min-width: @mobile-width) {

  .modal__button {
    font-family: "PTSans-Bold";
    font-size: 21px;
    text-transform: uppercase;
    color: @white;
    display: block;
    background-color: @blue;
    width: 180px;
    height: 58px;
    border: none;
    margin: 0 auto;
  }

  .modal--error {
    width: 207px;
    height: 203px;
    bottom: 180px;
    left: 50px;
    padding: 42px 57px 35px 56px;
  }

  .modal--response {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 320px;
    height: 323px;
    bottom: 180px;
    left: 50px;

    .modal--response__textwrapper {
      display: block;
      width: 214px;
      height: 136px;
      margin: 0 auto;
      margin-top: 49px;
    }

    .promo__header {
      margin-bottom: 27px;
    }

    .modal--response__butground {
      display: block;
      width: 320px;
      height: 98px;
      background-color: @grey;
      align-self: flex-end;
    }

    .modal__button {
      width: 280px;
      margin: 20px;
    }
  }
}

@media (min-width: @tablet-width) {

  .modal .promo__header {
    font-size: 30px;
    line-height: 40px;
  }

  .modal--error {
    left: 124px;
    bottom: 223px;
    width: 277px;
    height: 234px;
    padding: 64px 61px 49px 62px;

    .modal__button {
      width: 272px;
    }
  }

  .modal--response {
    width: 640px;
    height: 347px;
    left: 4px;

    .modal--response__textwrapper {
      width: 414px;
      height: 97px;
      margin-top: 64px;
    }

    .promo__header {
      margin-bottom: 20px;
    }

    .modal--response__butground {
      width: 640px;
      height: 146px;
    }

    .modal__button {
      width: 458px;
      margin: 44px 91px;
    }
  }
}

@media (min-width: @desktop-width) {

  .modal--error {
    left: 280px;
    bottom: 223px;
  }

  .modal--response {
    left: 157px;
  }
}
