.promo {
  display: block;
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background-color: @white;
}

.promo__description {
  display: block;
  margin: 0 auto;
  background-color: @white;
}

.promo__header {
  font-family: "PTSans-Bold";
  color: @deepblack;
  text-align: center;
}

.promo__text {
  text-align: center;
}

.promo__wrapper {
  display: block;
  min-width: 320px;
  width: 100%;
  padding: 0;
}

.promo__item {
  display: block;
  text-align: center;
}

.promo__item--other {
  background-color: @grey2;
  width: 100%;
}

.promo__itemheader {
  font-family: "PTSans-Bold";
  color: @deepblack;
}

.promo__list {
  list-style: none;
  margin: 0;
  padding: 0;
}


@media (min-width: @mobile-width) {

  .promo__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 255px;
    height: 149px;
    margin: 0 auto;
    padding-top: 43px;
  }

  .promo__wrapper {
    min-height: 1841px;
  }

  .promo__header {
    font-size: 18px;
  }

  .promo__header br, .promo__itemheader br, .promo__text br {
    display: none;
  }

  .promo__item--first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 471px;
    width: 100%;
  }

  .promo__item--first:first-child {
    background-image: url("/img/bg-triangle.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .promo__wrapper--first {
    display: block;
    width: 265px;
    height: 105px;
    margin: 0 auto;
    padding-top: 61px;
    padding-bottom: 45px;
  }

  .promo__wrapper--first:nth-child(2) {
    order: -1;
    padding-top: 43px;
  }

  .promo__item--first {
    height: 471px;
    background-color: @blue;
    color: @white;
  }

  .promo__item--first .promo__itemheader {
    font-size: 18px;
    color: @white;
    text-align: center;
    margin: 0;
  }

  .promo__list--feature {
    list-style: none;
    margin: 0;
    margin-top: 26px;
    padding: 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 416px;
    background: @white;
  }

  .promo__item--feature {
    display: block;
    height: 92px;
    width: 225px;
    position: relative;
    padding-left: 60px;
    margin: 0 auto;
    text-align: left;
  }

  .promo__item--feature .promo__text {
    text-align: left;

  }

  .promo__icon {
    position: absolute;
    top: 10px;
    left: 20px;
    fill: @blue;
  }

  .promo__wrapper--other {
    background-color: @grey2;
    margin: 0 auto;
    width: 100%;
  }

  .promo__item--other {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 167px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  }

  .promo__item--other .promo__itemheader {
    text-align: center;
  }

}


@media (min-width: @tablet-width) {

  .promo__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 490px;
    height: 100px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 55px;
  }

  .promo__header {
    font-size: 21px;
    margin: 0;
  }

  .promo__header br, .promo__itemheader br, .promo__text br {
    display: inline;
  }

  .promo__wrapper {
    min-height: 1024px;
  }

  .promo__item--first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-image: none;
    height: 256px;
  }

  .promo__wrapper--first {
    display: block;
    width: 162px;
    height: 161px;
    padding: 46px 47px 49px 47px;
  }

  .promo__wrapper--first:nth-child(2) {
    order: none;
  }

  .promo__item--first:first-child {
    background-image: none;
  }


  .promo__item--first .promo__itemheader {
    font-size: 21px;
    margin: 0;
  }

  .promo__list--feature {
    list-style: none;
    padding: 60px 46px 66px 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 671px;
    margin: 0 auto;
    height: 204px;
    background: @white;
    margin-top: 0;
  }

  .promo__item--feature {
    display: block;
    position: relative;
    padding: 0;
    text-align: center;
    width: 162px;
    height: 205px;
  }

  .promo__item--feature:nth-child(1) {
    order: -2;
  }

  .promo__item--feature:nth-child(3) {
    order: -1;
  }

  .promo__item--feature .promo__text {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 162px;
    height: 100px;
  }

  .promo__icon {
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    width: 75px;
    height: 75px;
    fill: @blue;
  }

  .promo__list--feature .promo__itemheader {
    padding-top: 80px;
  }

  .promo__wrapper--other {
    width: 100%;
    background-color: @grey2;
  }

  .promo__list--other {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 768px;
   height: 256px;
   margin: 0 auto;
   background-color: @grey2;
  }

  .promo__item--other {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;
    height: 256px;
    width: 768px;
    border: none;
  }

  .promo__item--other .promo__itemheader {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 120px;
  }

  .promo__item--other .promo__text{
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 157px;
  }

}


@media (min-width: @desktop-width) {

  .promo__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 490px;
    height: 100px;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 55px;
  }

  .promo__header {
    font-size: 21px;
    margin: 0;
  }

  .promo__header br, .promo__itemheader br, .promo__text br {
    display: inline;
  }

  .promo__wrapper {
    min-height: 1024px;
  }

  .promo__item--first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 256px;
    background-image: none;
  }

  .promo__item--first:first-child {
    background-image: none;
  }

  .promo__item--first picture, .promo__item--first img {
    width: 800px;
    height: 256px;
  }

  .promo__wrapper--first {
    display: block;
    width: 265px;
    height: 140px;
    padding: 53px 68px 63px 67px;
  }

  .promo__wrapper--first:nth-child(2) {
    order: none;
  }

  .promo__list--feature {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 330px;
    background: @white;
  }

  .promo__item--feature {
    display: block;
    position: relative;
    padding: 0;
    text-align: center;
    width: 252px;
    height: 329px;
  }

  .promo__item--feature:nth-child(1) {
    order: -2;
  }

  .promo__item--feature:nth-child(3) {
    order: -1;
  }

  .promo__icon {
    display: block;
    position: absolute;
    top: 60px;
    left: 88px;
    width: 75px;
    height: 75px;
    fill: @blue;
  }

  .promo__list--feature .promo__itemheader {
    padding-top: 135px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .promo__item--feature .promo__text {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 252px;
    margin-top: 0;
  }

  .promo__list--other {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 1200px;
   height: 256px;
   background-color: @grey2;
  }

  .promo__item--other {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 400px;
    height: 256px;
    border: none;
  }

  .promo__item--other .promo__itemheader {
    display: inline-block;
    vertical-align: baseline;
    text-align: center;
    width: 120px;
    margin-top: 50px;
  }

  .promo__item--other .promo__text{
    display: block;
    text-align: center;
    width: 260px;
  }

  .promo__item--other .promo__text:nth-child(2n+1){
    margin-bottom: 50px;
  }

}

