@media (min-width: @desktop-width) {
  body {

  }

  .page-header__list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 56px;
  }

  .page-header__item--logo{
    order: -1;
  }

  .promo__logoarea{
    height: 518px;
  }

  .promo__description{
    height: 206px;
  }

  .promo__wrapper{
    min-height: 1024px;
  }

  .promo__offer{
    min-height: 331px;
  }

  .promo__map{
    min-height: 350px;
  }

}

@media (min-width: @tablet-width) {
  body {

  }

  .page-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 56px;
  }

  .promo__logoarea{
  height: 518px;
  }

  .page-header__item--logo{
    order: 3;
  }

  .promo__description{
    height: 206px;
  }

  .promo__wrapper{
    min-height: 1024px;
  }

   .promo__offer{
    min-height: 331px;
  }

}
